<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1>CC List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Cateory</th>
                <th>2022</th>
                <th>2021</th>
                <th>2020</th>
<!--                <th>ID</th>-->
<!--                <th>Major</th>-->
<!--                <th>Name</th>-->
<!--                <th>Age</th>-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Count</th>
                <th>{{ count2 }}</th>
                <th>{{ count3 }}</th>
                <th>{{ count4 }}</th>
            </tr>
<!--            {% for obj in data_list %}-->
<!--            <tr>-->
<!--                <th>{{ obj.id }}</th>-->
<!--                <th>{{ obj.major }}</th>-->
<!--                <th>{{ obj.name }}</th>-->
<!--                <th>{{ obj.age }}</th>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--            <tr>-->
<!--                <th>Count</th>-->
<!--                <th></th>-->
<!--                <th></th>-->
<!--                <th>{{ count1 }}</th>-->
<!--            </tr>-->
        </tbody>
    </table>
</body>
</html>